 <footer class="bg-danger">
    <div class="container container-fluidfluid">
    <div class="navbar-brand text-white fs-3 pb-0 pt-4">
      MENOWO
    </div>
    <p class="mt-0 mb-0 text-white text fw-normal alamat">
      Dusun Jambangan RT.06/RW.05, Desa Latsari, Kecamatan Mojowarno, Kabupaten Jombang, Provinsi Jawa Timur 61475 - Indonesia
    </p>
    <p class="fw-normal text-white alamat m-0 pt-4 pb-5">Phone: 081944598849<br>Email: info@menowo.com</p>
    </div>
    <div class="text-center credit p-2 m-0">
      <a class="link-underline link-underline-opacity-0 text-white" href="/">© 2024 Menowo.com</a>
    </div>
  </footer>