<footer class="bg-danger">
    <div class="container">
    <div class="navbar-brand text-white fs-3 pb-0 pt-4">
      MENOWO
    </div>
    <p class="mt-0 mb-0 text-white text fw-normal alamat text-set">
      Dusun Jambangan RT.06/RW.05, Desa Latsari, Kecamatan Mojowarno, Kabupaten Jombang, Provinsi Jawa Timur 61475 - Indonesia
    </p>
    <p class="fw-normal text-white alamat m-0 pt-4 pb-5"><i class="bi bi-whatsapp pe-1"></i> 081944598849<br><i class="bi bi-envelope pe-1"></i> info@menowo.com</p>
     
    
    <!-- Ikuti Kami -->
    <div class="pt-2 pb-4">
  <span class="text-white fw-semibold fs-6">IKUTI KAMI</span>
<ul class="nav justify-content-start fs-6">
  <li class="nav-item">
    <a class="nav-link text-white px-0" href="#"><i class="bi bi-facebook"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#"><i class="bi bi-instagram"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white px-0" href="#"><i class="bi bi-threads-fill"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#"><i class="bi bi-twitter-x"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white px-0" href="#"><i class="bi bi-tiktok"></i></a>
      </li>
     </ul>
    </div>
    <!-- CREDIT FOOTER -->
    <div class="text-center p-2 m-0 credit">
      <a class="link-underline link-underline-opacity-0 text-white" href="/">© 2024 Menowo.com</a>
    </div>
    </div>
  </footer>
