<div class="pt-4 pb-4 bg-light text-center">
  <h5><b class="text-success">IKUTI</b> <span class="text-secondary"> KAMI</span></h5>
<ul class="nav justify-content-center fs-1">
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#"><i class="bi bi-facebook"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#"><i class="bi bi-instagram"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#"><i class="bi bi-threads-fill"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#"><i class="bi bi-twitter-x"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#"><i class="bi bi-tiktok"></i></a>
  </li>
</ul>
</div>