  <div class="tentang pb-2 pt-4">
    <div class="container-fluid">
      <div class="fs-3 fw-bold judul text-white">Kebanggaan Indonesia</div>
      <hr class="border-2 text-white"></hr>
      <p class=" text-set fw-medium text-white">
        Menowo merupakan salah satu produsen makanan ringan ternama di Indonesia. Berdiri pada tahun 2024, kegiatan bisnis Menowo telah dirintis sejak tahun 2020 di Jombang, Jawa Timur. Saat ini menowo masih dalam fokus untuk memproduksi, menjual dan terus berinovasi dalam menciptakan produk kacang kulit asin oven berkualitas tinggi dengan rasa yang otentik kemasan yang unik. Pada awal tahun 2025 Menowo berupaya keras untuk memperluas pasar dari offline sampai online hingga menjangkau seluruh wilayah Indonesia, dengan fokus utama seluruh wilayah Jawa Timur.
      </p>
    </div>
  </div>
