  <div class="container-fluid text-center pk-set">
    <div class="row pb-5 pt-3">
      <div class="d-block">
         <div class="pt-3 pb-3">
          <img class="rounded-2" src="https://duakelinci.com/assets/images/home_brand.png" alt="" width="100%" height="100%">
          </div>
          <div class="fs-5 pt-2 pb-2"><b class="text-success">PRODUK</b><b class="text-secondary"> KAMI</b></div>
             
        <p class="text-set lead fw-normal">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit youman goon.</p>
        <div class="toko-logo d-flex justify-content-center">
          <a class="shopee" href="/"></a>
          <a class="tiktok" href="/"></a>
          <a class="tokopedia" href="/"></a>
        </div>
      </div>
   </div>
  </div>
  
<div class="p-0 m-0">
  <img src="https://duakelinci.com/assets/images/bg_sponsor_mobile.png" alt="" height="100%" width="100%">
</div>