<div class="container-fluid pk-set">
  <div class="row pb-5 pt-4 text-center">
      <img src="https://duakelinci.com/assets/images/home_tentang_kacang.png" alt="" height="30%" height="30%">
      <div class="fs-5"><b class="text-success">TENTANG</b><b class="text-secondary"> KACANG</b>
        <p class="lead text-set fw-normal text-center mb-0 mt-1">Informasi lengkap tentang kacang tanah yang kami pilih</p>
        <p class="lead text-set fw-normal text-center m-0">sebagai bahan utama dalam menciptakan produk</p>
        <p class="lead text-set fw-normal text-center mt-0">kacang kulit asin oven berkualitas tinggi</p>
      <a class="btn btn-danger" href="/tentang-kacang.html">Lihat semua</a>
    </div>
  </div>
</div>
