<div class="container-fluid pk-set">
  <div class="row pb-5 pt-4 d-flex text-center">
      <img src="https://duakelinci.com/assets/images/home_tentang_kacang.png" alt="" height="30%" height="30%">
      <div class="fs-5"><b class="text-success">TENTANG</b><b class="text-secondary"> KACANG</b>
      <p class="text-set fw-normal text-black text-center">Informasi lengkap tentang kacang tanah yang kami pilih sebagai bahan utama dalam menciptakan produk premium quality</p>
      <a class="btn btn-danger" href="/tentang-kacang.html">Lihat semua</a>
    </div>
  </div>
</div>
